<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-between">
    <div class="d-flex">
      <!-- <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="../../../../assets/img/b3.png"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px"
        />
      </a> -->
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    <!--    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" href="#">
          <span><i class="fas fa-home fa-lg"></i></span>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
      </li>
    </ul> -->
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/gear_reviews"
        >
          <img
            src="../../../../assets/img/image1.png"
            class="rounded-circle"
            height="22"
            alt=""
            style="width: 33px"
            loading="lazy"
          />
          <strong class="text-shadow d-none d-sm-block ms-1"
            >HUMAN BEATBOX</strong
          >
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/videos"
        >
          <img
            src="../../../../assets/img/image2.png"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="text-shadow d-none d-sm-block ms-1">Videos</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/lessons"
        >
          <img
            src="../../../../assets/img/img11.jpg"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />

          <strong class="text-shadow d-none d-sm-block ms-1"
            >Learn to Beatbox</strong
          >
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/events"
        >
          <img
            src="../../../../assets/img/image4.png"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="text-shadow d-none d-sm-block ms-1">Events</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/community"
        >
          <img
            src="../../../../assets/img/image3.png"
            class="rounded-circle"
            height="22"
            alt=""
            loading="lazy"
          />
          <strong class="text-shadow d-none d-sm-block ms-1">Community</strong>
        </a>
      </li>
      <!--    <div *ngIf="isLoggedIn$ | async as isLoggedIn">
        isLoggedIn : {{ isLoggedIn }}
      </div> -->

      <li class="nav-item me-3 me-lg-1" *ngIf="!user">
        <a class="nav-link d-sm-flex align-items-sm-center" routerLink="/login">
          <strong class="text-shadow d-none d-sm-block ms-1">Login</strong>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1" *ngIf="!user">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/register"
        >
          <strong class="text-shadow d-none d-sm-block ms-1">Register</strong>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1" *ngIf="user">
        <a class="nav-link d-sm-flex align-items-sm-center" (click)="logout()">
          <strong class="text-shadow d-none d-sm-block ms-1">Logout</strong>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1" *ngIf="user">
        <a
          class="nav-link d-sm-flex align-items-sm-center"
          routerLink="/my-profile"
        >
          <strong class="text-shadow d-none d-sm-block ms-1">{{
            user.name
          }}</strong>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
