<!-- Navbar navbar-light -->
<nav class="navbar navbar-expand-lg bg-dark">
  <!-- Container wrapper bg-light -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <img src="../../../../assets/img/b3.png" alt="" />
    <!--     <a class="navbar-brand" href="#">BeatBoxer</a> -->

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/gear_reviews"
            >HUMAN BEATBOX</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/videos"
            >Videos</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/lessons"
            >Learn to Beatbox</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/events"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/community"
            >Community</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/register"
            >Register</a
          >
        </li>

        <!--      <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <!-- Navbar dropdown -->
        <!--  <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
   
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li> -->
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <!--    <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form> -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
