<notifyalsert
  *ngIf="(notify | json) != '{}' && notify != null"
  [notify]="notify"
></notifyalsert>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">add profile</div>

    <!--    <div class="container">
      <h3>Upload File</h3>

      <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <h6 class="head-title margin-top-8">
                <span>Select Image File</span>
              </h6>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="customFile"
                name="uploadedImage"
                (change)="onFileSelect($event)"
                #UploadFileInput
              />

              <label class="custom-file-label" for="customFile">{{
                fileInputLabel || "Choose File"
              }}</label>
            </div>
          </div>

          <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Upload</button>
          </div>
        </div>
      </form>
    </div> -->

    <!-- Login Form -->
    <form [formGroup]="addform" (ngSubmit)="onSubmit()">
      <!--  <input
        style="display: none"
        type="file"
        (change)="onFileChanged($event)"
        #fileInput
      />
      <button
        class="btn btn-primary"
        style="background-color: #56baed !important"
        (click)="fileInput.click()"
      >
        Select img or video
      </button> -->

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="full name"
        formControlName="name"
      />
      <div *ngIf="submitted && f.name.errors">
        <div
          *ngIf="f.name.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          name (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="email "
        formControlName="email"
      />
      <div *ngIf="submitted && f.email.errors">
        <div
          *ngIf="f.email.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          email (required)
        </div>
      </div>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="username"
        formControlName="username"
      />
      <div *ngIf="submitted && f.username.errors">
        <div
          *ngIf="f.username.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          username (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="password"
        formControlName="password"
      />
      <div *ngIf="submitted && f.password.errors">
        <div
          *ngIf="f.password.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          password (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="repassword"
        formControlName="repassword"
      />
      <div *ngIf="submitted && f.repassword.errors">
        <div
          *ngIf="f.repassword.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          repassword (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="phone"
        formControlName="phone"
      />
      <div *ngIf="submitted && f.phone.errors">
        <div
          *ngIf="f.phone.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          phone (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="address"
        formControlName="address"
      />
      <div *ngIf="submitted && f.address.errors">
        <div
          *ngIf="f.address.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          address (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="facebook"
        formControlName="facebook"
      />
      <div *ngIf="submitted && f.facebook.errors">
        <div
          *ngIf="f.facebook.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          facebook (required)
        </div>
      </div>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="instagram"
        formControlName="instagram"
      />
      <div *ngIf="submitted && f.instagram.errors">
        <div
          *ngIf="f.instagram.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          instagram (required)
        </div>
      </div>

      <input
        type="text"
        id="login"
        class="fadeIn second"
        placeholder="twitter"
        formControlName="twitter"
      />
      <div *ngIf="submitted && f.twitter.errors">
        <div
          *ngIf="f.twitter.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          twitter (required)
        </div>
      </div>

      <textarea
        class="form-control"
        id="login"
        placeholder="description"
        formControlName="description"
        style="text-align: center"
        rows="5"
      ></textarea>

      <div *ngIf="submitted && f.description.errors">
        <div
          *ngIf="f.description.errors.required"
          style="
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
          "
        >
          description (required)
        </div>
      </div>

      <input type="submit" class="fadeIn fourth" value="add profile" />
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>
