<div class="row">
  <div class="col col-lg-3" *ngIf="User$ | async as infoUser; else loading2">
    <div class="text-center">
      <div style="padding: 15px 0px">
        <img
          [src]="infoUser.urlphoto"
          alt=""
          style="border-radius: 22px; border: 8px solid white; width: 89px"
        />

        <h5>
          {{ infoUser.name }}
        </h5>
        <p>{{ infoUser.date }}</p>
      </div>
    </div>
  </div>
  <ng-template #loading2> <loading></loading> </ng-template>
  <div class="col col-lg-9">
    <div class="row" *ngIf="videos$ | async as infovideos; else loading">
      <div *ngFor="let video of infovideos" class="col col-lg-6">
        <iframe
          title="YouTube video player"
          class="youtube-player"
          type="text/html"
          width="350"
          height="250"
          frameborder="0"
          allowFullScreen
          [src]="video.url | safe"
        ></iframe>
        <h2>
          {{ video.title }}
        </h2>
        <p>{{ video.desc }}</p>
      </div>
    </div>
    <ng-template #loading> <loading></loading> </ng-template>
  </div>
</div>
<!-- <div class="row" *ngIf="Communitys$ | async as infoCommunity; else loading">
  <div
    [routerLink]="'/community/profile/' + Community.id"
    style="color: black"
    *ngFor="let Community of infoCommunity"
    class="col col-lg-4"
  >
    <img
      [src]="Community.urlphoto"
      alt=""
      style="border-radius: 22px; border: 8px solid white; width: 89px"
    />

    <h5>
      {{ Community.name }}
    </h5>
    <p>{{ Community.date }}</p>
  </div>
</div> -->
<!-- <ng-template #loading> <loading></loading> </ng-template> -->
